@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
:root{
    --font :'Inter', 'sans-serif';
}
*{
    margin:0;
    padding:0;
}
body{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#maincontainer{
    height: 100vh;
    width: 100vw;
    background-image: url("images/qrBg.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sidebar,.homecontainer{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.sidebar img{
    width: 15%;
    margin: 0 20px;
}
.sidebar .textcontianer h1,
.sidebar .textcontianer p{
    font-family: var(--font);
    margin-bottom: 5px;

}
.home {
    height: 200px;
    width: 50%;
    background-color: white;
    box-shadow: 0 5px 10px black;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.home h2{
    font-family: var(--font);
    
}
#qrInput{
    height: 25px;
    width: 80%;
    border-radius: 5px;
    border: 1px solid black;
    margin : 15px 0 25px 0;
    padding: 7px;
    font-size: 16px;
    font-family: var(--font);
}
#generateBtn ,#closeBtn, #downloadBtn{
    height: 35px;
    width: 85%;
    background-color: black;
    color: white;
    border :none;
    border-radius: 5px;
    font-family: var(--font);
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.3s;
}
#generateBtn:hover ,#closeBtn, #downloadBtn  {
    transform: scale(1.01);

}
#qrpopup{
    height: 450px;
    width: 300px;
    background-color: black;
    position: absolute;
    bottom: 60%;
    border-radius: 10px;
    box-shadow: 0 5px 10px #212121; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    opacity: 0;
    transform: scale(0);
    transition: transform 0.5s ease-in-out,
                opacity 0.5s ,
                bottom 0.5s ease-in-out;
}
#qrpopup.show{
    transform: scale(1);
    opacity: 1;
    bottom: 15%;

}
#qrpopup h2{
    color: white;
 font-family: var(--font);
}
#downloadBtn{
        width: 70%;
        background-color: white;
        color: black;
        margin: 3px 0;
}
#closeBtn{
        width: 70%;
        border : 1px solid white;
        margin: 3px 0;

}
#qrImg {
    width: 70%;
    border: 8px solid white;
    border-radius: 5px;
    margin: 20px 0 25px;
}
#maincontainer.opacity {
    opacity: 0.4;
}
